[submodule "core"]
	path = core
	url = https://github.com/simulator-x/core.git
[submodule "components/editor"]
	path = components/editor
	url = https://github.com/simulator-x/editor.git
[submodule "components/sound/lwjgl-sound"]
	path = components/sound/lwjgl-sound
	url = https://github.com/simulator-x/lwjgl-sound.git
[submodule "components/physics/jbullet"]
	path = components/physics/jbullet
	url = https://github.com/simulator-x/jbullet-physics.git
[submodule "components/renderer/jvr"]
	path = components/renderer/jvr
	url = https://github.com/simulator-x/jvr-rendering.git
[submodule "components/ontology/generating"]
	path = components/ontology/generating
	url = https://github.com/simulator-x/ontologygen.git
[submodule "components/io/vrpn"]
	path = components/io/vrpn
	url = https://github.com/simulator-x/vrpn-io.git
[submodule "applications/examples/basic"]
	path = applications/examples/basic
	url = https://github.com/simulator-x/basicexamples.git
[submodule "components/io/leapmotion"]
	path = components/io/leapmotion
	url = https://github.com/simulator-x/leapmotion.git
[submodule "applications/examples/ai"]
	path = applications/examples/ai
	url = https://github.com/simulator-x/examples-ai.git
[submodule "components/ai/atn"]
	path = components/ai/atn
	url = https://github.com/simulator-x/atn.git
[submodule "components/ai/feature"]
	path = components/ai/feature
	url = https://github.com/simulator-x/feature.git
[submodule "components/io/j4k"]
	path = components/io/j4k
	url = https://github.com/simulator-x/kinect.git
[submodule "components/renderer/gui"]
	path = components/renderer/gui
	url = https://github.com/simulator-x/rendering-gui.git
[submodule "components/io/json"]
	path = components/io/json
	url = https://github.com/simulator-x/json.git
[submodule "applications/examples/unity"]
	path = applications/examples/unity
	url = https://github.com/simulator-x/examples-unity
[submodule "components/renderer/unity"]
	path = components/renderer/unity
	url = https://github.com/simulator-x/unity-rendering
